<header class="site-header">
  <div class="wrapper">
    <nav class="navbar navbar-expand-md navbar-light bg-light" id="fc-navbar">
      <a class="navbar-brand" href="/">
        <img height="30" src="{{ "/images/fc-logo-navbar.png" | prepend: site.baseurl | prepend: site.url }}">
      </a>
      <button class="navbar-toggler" data-target="#navbar-content" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <li class="nav-item mx-3 navbar_pre_sign_in">
                <a class="nav-link my-3" href=""{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
